[Unit]
Description=onewaygap
After=uniway_init.service

[Service]
Type=simple
Environment=LD_LIBRARY_PATH=/root/lib:/usr/lib/mysql/:/opt/uniway/lib
ExecStop=/opt/tomcat/bin/shutdown.sh
ExecStart=/opt/tomcat/bin/startup.sh
RemainAfterExit=true

[Install]
WantedBy=multi-user.target