ACTION=="add", SUBSYSTEM=="net", DRIVERS=="?*", ATTR{type}=="1", DEVPATH=="*05:00.0*", NAME="eth0" GOTO="END"
ACTION=="add", SUBSYSTEM=="net", DRIVERS=="?*", ATTR{type}=="1", DEVPATH=="*06:00.0*", NAME="eth1" GOTO="END"
ACTION=="add", SUBSYSTEM=="net", DRIVERS=="?*", ATTR{type}=="1", DEVPATH=="*07:00.0*", NAME="eth2" GOTO="END"
ACTION=="add", SUBSYSTEM=="net", DRIVERS=="?*", ATTR{type}=="1", DEVPATH=="*08:00.0*", NAME="man" GOTO="END"
ACTION=="add", SUBSYSTEM=="net", DRIVERS=="?*", ATTR{type}=="1", DEVPATH=="*02:00.0*", NAME="eth4" GOTO="END"
ACTION=="add", SUBSYSTEM=="net", DRIVERS=="?*", ATTR{type}=="1", DEVPATH=="*02:00.1*", NAME="eth5" GOTO="END"
ACTION=="add", SUBSYSTEM=="net", DRIVERS=="?*", ATTR{type}=="1", DEVPATH=="*02:00.2*", NAME="eth6" GOTO="END"
ACTION=="add", SUBSYSTEM=="net", DRIVERS=="?*", ATTR{type}=="1", DEVPATH=="*02:00.3*", NAME="eth7" GOTO="END"
LABEL="END"
